In [51]:
import pandas as pd

In [52]:
df = pd.read_csv("pirates.csv") # This requires the csv file to be in the same folder as this Jupyter notebook.
df.head()

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [54]:
for column in df.columns:
    for row in range(len(df["id"])):
        if pd.isna(df.loc[row, column]):
            print(row)
            print(column)

33
age
999
headband
634
favorite.pirate
136
sword.time

In [55]:
for index, row in df.iterrows():
    for column in df.columns:
        if pd.isnull(row[column]):
            print(f"Null value found at Row {index}, Column {column}")

Null value found at Row 33, Column age
Null value found at Row 136, Column sword.time
Null value found at Row 634, Column favorite.pirate
Null value found at Row 999, Column headband

In [56]:
df.loc[33, "age"] = df["age"].mean()
df.loc[136, "sword.time"] = df["sword.time"].mean()

In [57]:
df.loc[999, "headband"] = "yes"
df.loc[634, "favorite.pirate"] = "Jack Sparrow"

In [58]:
df["sex"].nunique()

3

In [59]:
#find average age of pirates
print(df["age"].mean())

27.35735735735736

In [60]:
#find average age of female pirates
count = 0
ageSum = 0

for i in range(len(df["age"])):
    if df["sex"][i] == "female":
        count+=1
        ageSum += df["age"][i]

ageSum/count

29.91671844258051

In [61]:
df["age"][df["sex"] == "female"].mean()

29.91671844258051

In [62]:
total = 1000
count = 0

for weight in df["weight"]:
    if (weight * 2.205) < 100:
        count+=1

print(100 * (count/total))

0.8

In [63]:
minimum = df["height"][0]
minIndex = 0
for i in range(1, 1000):
    if df["height"][i] < minimum:
        minimum = df["height"][i]
        minIndex = i
        
print(minIndex+1, minimum)

39 129.83

In [64]:
maximum = df["weight"][0]
maxIndex = 0
for i in range(1, 1000):
    if df["weight"][i] > maximum:
        maximum = df["weight"][i]
        maxIndex = i
        
print(maxIndex+1, maximum)

2 105.6

In [65]:
df["fav.pixar"].mode()[0]

'Inside Out'

In [66]:
aveEyepatch = df["eyepatch"].mean()
medEyepatch = df["eyepatch"].median()

print(aveEyepatch)
print(medEyepatch)

0.658
1.0

In [74]:
idx = 0
for i in df["parrots"]:
    df.loc[idx, "parrots"]
    idx += 1


aveParrots = df["parrots"].mean()
medParrots = df["parrots"].median()

print(aveParrots)
print(medParrots)

TypeError: can only concatenate str (not "int") to str