In [28]:
columnData = {
    "Name": ["Edward Teach", "Anne Bonny", "John Rackham", 
             "Cheung Po Tsai", "Grace O'Malley", "Mary Read",
             "Sayyidda al Hurra", "Zheng Yi Sao", "Francis Drake",
             "Jean Lafitte"],
    "Years Active": [[1716, 1718], [1718, 1720], [1718, 1720], [1798, 1810],
                     [1564, 1595], [1708, 1721], [1515, 1545], [1801, 1810],
                     [1563, 1596], [1810, 1823]],
    "Sailed": ["Caribbean", "Caribbean", "Caribbean", "South China Sea",
               "British Isles", "Caribbean", "Mediterranean", "South China Sea",
               "Caribbean", "Gulf of Mexico"],
    "Alias": ["Blackbeard", "", "Calico Jack", "The Kid", "Queen of Ireland",
              "Mark", "Hakimat Titwan", "Ching Shih", "Sir Francis Drake",
              "Terror of the Gulf"]
}

rowData = {
    "Edward Teach": [[1716, 1718], "Caribbean", "Blackbeard"],
    "Anne Bonny": [[1718, 1720], "Caribbean", ""],
    "John Rackham": [[1718, 1720], "Caribbean", "Calico Jack"],
    "Cheung Po Tsai": [[1798, 1810], "South China Sea", "The Kid"],
    "Grace O'Malley": [[1564, 1595], "British Isles", "Queen of Ireland"],
    "Mary Read": [[1708, 1721], "Caribbean", "Mark"],
    "Sayyida al Hurra": [[1515, 1545], "Mediterranean", "Hakimat Titwan"],
    "Zheng Yi Sao": [[1801, 1810], "South China Sea", "Ching Shih"],
    "Francis Drake": [[1563, 1596], "Caribbean", "Sir Francis Drake"],
    "Jean Lafitte": [[1810, 1823], "Gulf of Mexico", "Terror of the Gulf"]
}

In [23]:
#Challenge 1 with column data
count = 0
for i in columnData["Years Active"]:
    if (i[0] > 1700 and i[0] < 1800) or (i[1] > 1700 and i[1] < 1800):
        count +=1
print(count)

5

In [22]:
#Challenge 1 with row data
count = 0
for i in rowData:
    if (rowData[i][0][0] > 1700 or rowData[i][0][0] < 1800) and (rowData[i][0][1] > 1700 and rowData[i][0][1] < 1800):
        count += 1
print(count)

4

In [21]:
#Challenge 2 with column data
longestCarrer = 0
longestCarrerIndex = 0
longestName = ""
currrentIndex = 0

for years in columnData["Years Active"]:
    
    if years[1]-years[0] > longestCarrer:
        
        longestCarrer = years[1]-years[0]
        longestCarrerIndex = index
        longestName = columnData["Name"][currrentIndex]
        
    currrentIndex += 1
    
print(longestName)

Francis Drake

In [24]:
#Challenge 2 with row data
longestCarrer = 0
longestName = ""
for pirate in rowData:
    if rowData[pirate][0][1] - rowData[pirate][0][0] > longestCarrer:
        longestCarrer = rowData[pirate][0][1] - rowData[pirate][0][0]
        longestName = pirate
print(longestName)

Francis Drake

In [25]:
#Challenge 3 with column data
yearSum = 0
pirateCount = 10

for years in columnData["Years Active"]:
    yearSum += years[1] - years[0]
    
average = yearSum/pirateCount
    
print(average)

14.7

In [26]:
#Challenge 3 with row data
yearSum = 0
pirateCount = 10
for name in rowData:
    yearSum += rowData[name][0][1] - rowData[name][0][0]
    
average = yearSum/pirateCount
print(average)

14.7

In [31]:
mergedData = columnData

mergedData2["Sex"] = ["M", "F", "M", "M", "F", "F", "F", "F", "M", "M"]
mergedData2["Height"] = [6.4, 5.6, 5.3, 5.0, 5.1, None, 5.3, 5.5, 6.2]
mergedData2["Skull and Crossbones"] = [False, True, True, False, False, True, False, False, False, False]
mergedData2["Age at Death"] = [40, 24, 37, 39, 73, 36, 75, 69, 56, 46]

print(mergedData)

{'Name': ['Edward Teach', 'Anne Bonny', 'John Rackham', 'Cheung Po Tsai', "Grace O'Malley", 'Mary Read', 'Sayyidda al Hurra', 'Zheng Yi Sao', 'Francis Drake', 'Jean Lafitte'], 'Years Active': [[1716, 1718], [1718, 1720], [1718, 1720], [1798, 1810], [1564, 1595], [1708, 1721], [1515, 1545], [1801, 1810], [1563, 1596], [1810, 1823]], 'Sailed': ['Caribbean', 'Caribbean', 'Caribbean', 'South China Sea', 'British Isles', 'Caribbean', 'Mediterranean', 'South China Sea', 'Caribbean', 'Gulf of Mexico'], 'Alias': ['Blackbeard', '', 'Calico Jack', 'The Kid', 'Queen of Ireland', 'Mark', 'Hakimat Titwan', 'Ching Shih', 'Sir Francis Drake', 'Terror of the Gulf'], 'Sex': ['M', 'F', 'M', 'M', 'F', 'F', 'F', 'F', 'M', 'M'], 'Height': [6.4, 5.6, 5.3, 5.0, 5.1, None, 5.3, 5.5, 6.2], 'Skull and Crossbones': [False, True, True, False, False, True, False, False, False, False], 'Age at Death': [40, 24, 37, 39, 73, 36, 75, 69, 56, 46]}